###################################
# Pastas de Build e Binários .NET #
###################################
[Bb]in/
[Oo]bj/
*.pdb
*.suo

#########################################
# Pastas e Arquivos de Solução e Usuário #
#########################################
.vs/
*.user
*.useros
*.log